asgiref==3.8.1 ; python_version >= "3.8" and python_version < "4.0"
autopep8==1.7.0 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
django-debug-toolbar==3.8.1 ; python_version >= "3.8" and python_version < "4.0"
django-extensions==3.2.3 ; python_version >= "3.8" and python_version < "4.0"
django==3.2.25 ; python_version >= "3.8" and python_version < "4.0"
djangorestframework==3.15.1 ; python_version >= "3.8" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.8" and python_version < "4.0"
isort==5.13.2 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.8" and python_version < "4.0"
psycopg2-binary==2.9.9 ; python_version >= "3.8" and python_version < "4.0"
pycodestyle==2.12.1 ; python_version >= "3.8" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.5.1 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "3.11"
whitenoise==5.3.0 ; python_version >= "3.8" and python_version < "4"
